<% if (typeof(isHead) !== 'undefined' && isHead) { %>
    <% if (theme.plugins.lightgallery) { %>
        <%- css('libs/lightgallery/css/lightgallery.min') %>
    <% } %>
    <% if (theme.plugins.justifiedgallery) { %>
        <%- css('libs/justified-gallery/justifiedGallery.min') %>
    <% } %>
    <% if (theme.plugins.google_analytics) { %>
        <%- partial('plugin/google-analytics') %>
    <% } %>
    <% if (theme.plugins.baidu_analytics) { %>
        <%- partial('plugin/baidu-analytics') %>
    <% } %>
    <% if (theme.plugins.cookie_consent) { %>
      <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
    <% } %>
<% } else if (typeof(isFooter) !== 'undefined' && isFooter) { %>
    <% if (theme.plugins.statcounter && theme.plugins.statcounter.on) { %>
        <%- partial('plugin/statcounter') %>
    <% } %>
<% } else { %>
    <% if (theme.plugins.lightgallery) { %>
        <%- js('libs/lightgallery/js/lightgallery.min') %>
        <%- js('libs/lightgallery/js/lg-thumbnail.min') %>
        <%- js('libs/lightgallery/js/lg-pager.min') %>
        <%- js('libs/lightgallery/js/lg-autoplay.min') %>
        <%- js('libs/lightgallery/js/lg-fullscreen.min') %>
        <%- js('libs/lightgallery/js/lg-zoom.min') %>
        <%- js('libs/lightgallery/js/lg-hash.min') %>
        <%- js('libs/lightgallery/js/lg-share.min') %>
        <%- js('libs/lightgallery/js/lg-video.min') %>
    <% } %>
    <% if (theme.plugins.justifiedgallery) { %>
        <%- js('libs/justified-gallery/jquery.justifiedGallery.min') %>
    <% } %>
    <% if (theme.plugins.mathjax) { %>
        <script type="text/x-mathjax-config">
            MathJax.Hub.Config({ tex2jax: { inlineMath: [['$','$'], ['\\(','\\)']] } });
        </script>
        <%- js('https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML') %>
    <% } %>

    <% if (theme.plugins.google_adsense && theme.plugins.google_adsense.publisher_id) { %>
      <%- partial('plugin/google-adsense') %>
    <% } %>
    <% if (theme.plugins.counter_analytics) { %>
        <%- partial('plugin/counter-analytics') %>
      <% } %>
    <% if (theme.plugins.cookie_consent) { %>
      <%- partial('plugin/cookie-consent') %>
    <% } %>
    <% if (theme.plugins.twitter_conversion_tracking.enabled && theme.plugins.twitter_conversion_tracking.pixel_id) { %>
      <%- partial('plugin/twitter-conversion') %>
    <% } %>
<% } %>
